useDynLib(synMicrodata)
import(Rcpp)
importFrom("methods", "new", "is")
importFrom("stats", "sd", "formula")
importFrom("graphics", "barplot", "boxplot", "legend", "points")
importFrom("utils", "combn", "head")
exportPattern("^[[:alpha:]]+")
exportClasses(Rcpp_modelobject)
S3method(print,synMicro_object)
S3method(summary,synMicro_object)
S3method(plot,synMicro_object)
S3method(print,readData_passed)
